/*Подключаем шрифты*/
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Regular.ttf') format('ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face{
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 800;
}
.body{
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*Header*/
.topofsite{
	margin: 0;
	background-color: #f6f2f2;
}
.header{
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	background-color: #000000;
	justify-content: center;
	margin-top: 29px;
	min-height: 89px;
	max-width: 1249px;
	align-items: stretch;
	width: 100%;
}
.headerlist{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}
.headerlistelement{
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
}
.headerlistelement:hover{
	background-color: #ff3f40;
}
.headerlink{
	display: flex;
	align-items: center;
	padding: 0 25px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}
/*Intro*/
.main{
	flex-grow: 1;
}
.intro{
	background-color: #f6f2f2;
	margin: 0;
}
.introsection{
	padding-top: 101px;
	padding-bottom: 110px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	max-width: 1249px;
	padding-left: 1vw;
	padding-right: 1vw;
}
.introtext{
	width: 618px;
	margin-bottom: 13px;
	margin-right: 75px;
}
.introheading{
	position: relative;
	bottom: 10px;
	margin: 0;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	line-height: 72px;
	margin-bottom: 18px;
}
.introheadingdecor{
	letter-spacing: 6px;
	word-break: break-word;
	hyphens: auto;
}
.introparagraph{
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 50px;
	max-width: 545px;
	margin-top: 0;
}
.introbutton{
	box-sizing: border-box;
	display: inline-block;
	width: 227px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 15px 0;
	color: #ffffff;
	background-color: #ff2d2d;
	text-decoration: none;
	border-radius: 5px;
}
.introimage{
	width: 551px;
	height: 356px;
	box-shadow: 0 -10px 40px 0 rgb(114, 120, 120)
}
/*Services*/
.services{
	padding-top: 107px;
	border-bottom: 1px solid #ececec;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	max-width: 1249px;
	padding-left: 1vw;
	padding-right: 1vw;

}
.servicesleft{
	flex: 1 1 500px;
	max-width: 500px;
	position: relative;
	bottom: 19px;
}
.serviceslefthead{
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.servicesleftparagraph{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 64px;
}
.servicesbutton{
	display: inline-block;
	box-sizing: border-box;
	padding: 15px 0;
	text-decoration: none;
	text-align: center;
	color: #ff2d2d;
	background-color: #f2f2f2;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #ff2d2d;
	border-radius: 5px;
	width: 227px;
}
.servicesblocks{
	display: flex;
	flex-wrap: wrap;
	max-width: 610px;
	flex: 1 1;
}
.service{
	margin-bottom: 50px;
	width: 300px;
	flex: 1 1 300px;
}
.service:nth-child(odd){
	margin-right: 10px;
}
.servicename{
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 13px;
}
.servicelogoman::before{
	content: url('../img/gear.svg');
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 32px;
}
.servicelogoui::before{
	content: url('../img/pencil.svg');
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 32px;
}
.servicelogobrand::before{
	content: url('../img/diamond.svg');
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 32px;
}
.servicelogoanim::before{
	content: url('../img/car.svg');
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 32px;
}

.servicediscription{
	font-size: 16px;
	font-weight: 400;
}
/*Feature*/
.feature{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 104px;
	padding-bottom: 50px;
}
.featureheader{
	text-align: center;
	width: 100%;
	margin-bottom: 86px;
}
.featurehead{
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	margin-bottom: 28px;
}
.featureparagraph{
	max-width: 537px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 33px;
}
.featureline{
	width: 134px;
	height: 5px;
	background-color: #ff2d2d;
	border: none;
}
.featurelist{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 58px;
}
.featurelink{
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	padding-right: 50px;
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
}
.activefeaturelink{
	color: #ff2d2d;
}
.featurelink:hover{
	color: #ff2d2d;
}
.featureproducts{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.productphoto{
	max-width: 301px;
	min-width: 250px;
	flex: 1 1 24%;
	height: 293px;
	margin-bottom: 20px;
	object-fit: cover;
}
/*Team*/
.team{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 87px;
	padding-bottom: 108px;
}
.teamheader{
	width: 100%;
	text-align: left;
	margin-bottom: 67px;
}
.teamhead{
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 35px;
	text-transform: uppercase;
}
.teamparagraph{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 37px;
	max-width: 479px;
}
.teamheaderline{
	width: 134px;
	height: 5px;
	border: none;
	background-color: #ff2d2d;
	margin-left: 0;
}
.members{
	width: 100%;
	display: flex;
	align-items: stretch;
    align-content: space-between;
	min-height: 458px;
}
.manphoto{
	flex-shrink: 0;
	width: 324px;
	height: 460px;
	margin-right: 65px;
	align-self: start;
	background-color: #d4dce6;
}
.teamdiscription{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.memberinfo{
	display: flex;
	flex-direction: column;
	align-self: start;
    justify-content: space-between;
	max-width: 662px;
}
.membername{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
	margin: 0;
}
.memberdiscription{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 46px;
	margin-top: 20px;
}
.memberlink{
	font-size: 18px;
	font-style: italic;
	text-decoration: none;
	margin-right: 30px;
	color: #000;
}
.memberlink:hover{
	text-decoration: underline;
}
.othermembers{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.member{
	position: relative;
	margin-right: 10px;
}
.selectedmember{
	display: flex;
	width: 100%;
    justify-content: center;
    align-items: center;
	visibility: hidden;
	color: #ffffff;
	position: absolute;
	bottom: -20px;
	height: 37px;
	text-align: center;
	background-color: #000;
	opacity: 0.5;
}
.member:hover .selectedmember{
	visibility: visible;
}
.memberphoto{
	display: block;
	width: 197px;
	height: 214px;
	background-color: #d4dce6;
}
/*Subscribe*/
.subscribe{
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: #2c2c2c;
	padding-top: 110px;
	padding-bottom: 104px;
}
.subscribeheader{
	text-align: center;
	margin: 0 auto;
}
.subscribehead{
	color: #ffffff;
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 17px;
}
.subscribeparagraph{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 57px;
}
.subscribeform{
	display: flex;
	align-items: center;
	justify-content: center;
}
.subscribeinput{
	width: 524px;
	min-height: 82px;
	border: none;
	border-radius: 5px;
	flex: 0 1 524px;
	padding-left: 38px;
	margin-right: 19px;
}
.subscribebutton{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	background-color: #ff2d2d;
	width: 217px;
	min-height: 82px;
	border: none;
	border-radius: 5px;
	color: #ffffff;
}
/*Get in touch*/
.getintouch{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-top: 104px;
	padding-bottom: 107px;
}
.getintouch::after {
	height: 100%;
}
.getintouchleftbox{
	flex: 1 1 auto;
}
.getintouchheader{
	box-sizing: border-box;
}
.getintouchhead{
	font-size: 42px;
	font-weight: 700;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.getintouchparagraph{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 58px;
	max-width: 734px;
}
.getintouchline{
	margin-left: 0;
	margin-bottom: 73px;
	width: 134px;
	height: 5px;
	border: none;
	background-color: #ff2d2d;
}
.getintouchbody{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 1249px;
	margin: 0 auto;
	flex-wrap: nowrap;
	width: 100%;
	max-width: 734px;
	margin-right: 104px;
    padding-left: 0;
    padding-right: 0;

}
.getintouchform{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.getinput{
	color: #8e8e8e;
	box-sizing: border-box;
	padding-left: 54px;
	border: none;
	border-radius: 5px;
	background-color: #f3f3f3;	
	margin-bottom: 43px;
}
.getintouchname, 
.getintouchmail{
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	width: 342px;
	height: 71px;
}
.getintouchmessage{
	font-size: 16px;
	font-weight: 400;
	width: 100%;
	max-width: 734px;
	height: 252px;
	padding: 35px 54px;
}
.getintouchbutton{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 731px;
	height: 75px;
	color: #ffffff;
	background-color: #ff3b3b;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
/*Contact info*/
.contactinfo{
	box-sizing: border-box;
	position: relative;
	color: #ffffff;
	background-color: #2d2d2d;
	box-sizing: border-box;
	padding: 120px 50px 125px 75px;
	min-height: 485px;
	max-width: 410px;
}
.contactinfohead{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contactaddress{
	line-height: 28px;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 20px;
}
.contactright{
	min-height: 485px;
	flex: 1 1 auto;
	background-color: #2d2d2d;
}
/*Footer*/
.footer{
	background-color: #313030;
	padding: 0 1vw;
}
.footercontent{
	box-sizing: border-box;
	padding: 19px 0 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	min-height: 113px;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}
.footertext{
	color: #b8b8b8;
	font-weight: 400;
	font-size: 16px;
}
.footerlinks{
	display: inline-block;
}
.footerlink > img{
	height: 33px;
	width: 33px;
	padding-right: 18px;
}
/*Responsive*/
@media screen and (max-width: 1286px) {
	.introsection {
		flex-wrap: nowrap;
	}
	.introtext {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.introheading {
		font-size: 5vw;
	}
	.introimage {
		width: 50%;

	}
	.introimage > img {
		width: 100%;
		height: 100%;
	}
	.featureproducts {
		justify-content: flex-start;
	}
	.productphoto {
		max-width: 100%;
		margin-right: 1vw;
	}
	.getintouchleft {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 1vw;
	}
	.getintouchbody {
		margin-right: 0;
	}
	.getintouch {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
	}
	.getintouchleftbox {
		flex: 0 1 auto;
	}
	.contactinfo {
		width: 100%;
		max-width: 100%;
	}
	.getintouc::after {
		content: initial;
	}
}

@media screen and (max-width: 907px) {
	.servicesleft,
	.servicesblocks {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.featurelistelem {
		width: 100%;
		text-align: center;
	}
	.services {
		justify-content: center;
	}
}

@media screen and (max-width: 855px) {
	.members {
		display: flex;
		flex-wrap: wrap;
	}
	.manphoto {
		margin-bottom: 18px;
		margin-right: 0;
	}
} 

@media screen and (max-width: 800px) {
	.servicesleft {
		width: 100%;
		max-width: 100%;
	}
	.servicesblocks {
		width: 100%;
		max-width: 100%;
	}
	.contactinfo {
		padding: 1vw;
	}
}

@media screen and (max-width: 760px) {
	.getintouchname,
	.getintouchmail,
	.getintouchmessage,
	.getintouchbutton {
		width: 100%;
	}
	.getintouchname {
		margin-right: 0;
	}
}

@media screen and (max-width: 700px) {
	.header {
		padding-left: 20px;
	}
	.introsection {
		flex-wrap: wrap;
	}
	.introtext {
		width: 100%;
	}
	.introimage {
		width: 100%;
	}
	.introimage > img {
		width: 100%;
		height: 100%;
	}
	.introheading {
		font-size: 50px;
	}
}

@media screen and (max-width: 400px) {
	.subscribeform {
		flex-wrap: wrap;
	}
}


